[data-md-color-primary=indigo] .md-header { background-color: #008c9e; }
[data-md-color-primary=indigo] .md-nav__link:active{ color: #008c9e; }
[data-md-color-primary=indigo] .md-typeset a { color: #008c9e; }
[data-md-color-primary=indigo] .md-nav--secondary { border-left-color: #008c9e; }
[data-md-color-primary=indigo] .nav--primary .md-nav__title--site { color: #008c9e;  }

.md-typeset {
  line-height: 1.8em; }

.md-typeset h1 {
  font-size: 34px; }

.md-nav__link {
  display: inline-block; }

[data-md-color-primary=indigo] .md-nav__link--active,
[data-md-color-primary=indigo] .md-nav__link:active {
  color: #008c9e;
  border-bottom: 1px solid #56b2be;
  padding-bottom: 2px; 
  margin-bottom: -2px; }

.super-highlight {
  background-color: #00bcd4;
  padding: 2px 5px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase; }

.highlight {
  padding: 2px 5px;
  border-bottom: 2px solid #00bcd4; }

.copyright { display: none; }

.img-preview {
  border: 14px solid #f2f2f2;
  height: 350px;
  width: 100%;
  background-size: cover;
  display: block; }

  .img-preview:hover {
    border-color: #00bcd4;
  }

.example {
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s; }

.admonition.special {
  background-color: #fbfaf8;
  border-left: 3px solid #7cd1db;
  color: inherit;
  margin-left: 0; }

  .admonition.special .admonition-title {
    font-style: italic;  }

  .admonition.special a,
  .admonition.special a:hover {
    color: #00bcd4;
  }

  .admonition.special .admonition-title:before {
    content: ""; }

a {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

@media only screen and (min-width: 720px) {
  .article pre {
    margin: 10px -2px;
  }
}
