.highlight {
  background-color: #e84e40;
  padding: 2px 5px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase; }

.copyright { display: none; }

.article h1 {
  font-size: 34px; }

.article .wrapper {
  padding-bottom: 120px;
  padding-top: 90px; }

code {
  background-color: #f2f2f2;
  padding: 2px; }

.drawer .section {
  text-transform: uppercase;
  color: #e84e40; }

.img-preview {
  border: 14px solid #f2f2f2;
  height: 350px;
  width: 100%;
  background-size: cover;
  display: block;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

  .img-preview:hover {
    border-color: #e84e40;
  }

.example {
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s; }

.toc > ul a[title=Home] {
  padding-left: 45px; }

  .toc > ul a[title=Home]::before {
    font-family: 'FontAwesome';
    content: '\f015';
    position: absolute;
    margin-left: -20px; }
