.article {
  /*font-size: 16px;*/
}

.drawer .toc > ul > li > ul {
  display: none; }

  .drawer .section {
    cursor: pointer;
  }

  .drawer .section::before {
    font-family: 'FontAwesome';
    content: '\f105';
    position: absolute;
    margin-left: -12px;
  }

.pull-right {
  float: right;
  padding: 14px 0; }

.pull-right strong {
  background-color: #00bfa5;
  color: #fff;
  padding: 3px 7px;
  border-radius: 3px;
  margin-left: 4px; }

.highlight {
  background-color: #e84e40;
  padding: 2px 5px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase; }

.copyright { display: none; }

.article h1 {
  font-size: 34px; }

.article .wrapper {
  padding-bottom: 120px;
  padding-top: 90px; }

code {
  background-color: #f2f2f2;
  padding: 2px; }

.drawer .section {
  text-transform: uppercase;
  color: #e84e40; }

.img-preview {
  border: 14px solid #f2f2f2;
  height: 350px;
  width: 100%;
  background-size: cover;
  display: block;

  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

  .img-preview:hover {
    border-color: #e84e40;
  }

.example {
  -webkit-transition: background-color 500ms ease-out 1s;
  -moz-transition: background-color 500ms ease-out 1s;
  -o-transition: background-color 500ms ease-out 1s;
  transition: background-color 500ms ease-out 1s; }

.toc > ul a[title=Home] {
  padding-left: 45px; }

  .toc > ul a[title=Home]::before {
    font-family: 'FontAwesome';
    content: '\f015';
    position: absolute;
    margin-left: -20px; }

.admonition.special {
  background-color: #fbfaf8;
  border-left: 3px solid #f9aba4;
  color: inherit;
  margin-left: 0; }

  .admonition.special .admonition-title {
    font-style: italic;  }

  .admonition.special a,
  .admonition.special a:hover {
    color: #e84e40;
  }

  .admonition.special .admonition-title:before {
    content: ""; }

@media only screen and (min-width: 720px) {
  .article pre {
    margin: 10px -2px;
  }
}
